//
// Component
//

@mixin border() {
  .u-border {
    &Top {
      border-top: 1px solid $global-border !important;

      &--remove {
        border-top: 0 !important;
      }
    }

    &Right {
      border-right: 1px solid $global-border !important;

      &--remove {
        border-right: 0 !important;
      }
    }

    &Bottom {
      border-bottom: 1px solid $global-border !important;

      &--remove {
        border-bottom: 0 !important;
      }
    }

    &Left {
      border-left: 1px solid $global-border !important;

      &--remove {
        border-left: 0 !important;
      }
    }

    &Surround {
      border: 1px solid $global-border !important;

      &--remove {
        border: 0 !important;
      }
    }

    &Vertical {
      border-top: 1px solid $global-border !important;
      border-bottom: 1px solid $global-border !important;

      &--remove {
        border-top: 0 !important;
        border-bottom: 0 !important;
      }
    }

    &Horizontal {
      border-left: 1px solid $global-border !important;
      border-right: 1px solid $global-border !important;

      &--remove {
        border-left: 0 !important;
        border-right: 0 !important;
      }
    }

    &Radius {
      border-radius: $global-border-radius !important;

      &--remove {
        border-radius: 0 !important;
      }
    }
  }

  .u-contrast {
    [class^="u-border"],
    [class*=" u-border"] {
      border-color: $global-contrast-border !important;
    }
  }
}
