//
// Component
//

@mixin flex() {
  @include selector-placeholder(".u-flex") {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  // Child elements automatically match height; this extends that ability to first child element
  @include selector-placeholder(".u-flexDeepMatch") {
    > * {
      display: flex;
      flex-wrap: wrap;

      > * {
        flex: none;
        width: 100%;
      }
    }
  }

  @include selector-placeholder(".u-flexItemNone") {
    flex: none;
  }

  @include selector-placeholder(".u-flexItemAuto") {
    flex: auto;
  }

  @include selector-placeholder(".u-flexItem1") {
    flex: 1 !important;
  }

  @include selector-placeholder(".u-flexBetween") {
    justify-content: space-between !important;
  }

  @include selector-placeholder(".u-flexAround") {
    justify-content: space-around !important;
  }

  //
  // Alignment modifiers
  //

  @include selector-placeholder(".u-flexStart") {
    justify-content: flex-start !important;
  }

  @include selector-placeholder(".u-flexCenter") {
    justify-content: center !important;
  }

  @include selector-placeholder(".u-flexEnd") {
    justify-content: flex-end !important;
  }

  @include selector-placeholder(".u-flexTop") {
    align-items: flex-start !important;
  }

  @include selector-placeholder(".u-flexMiddle") {
    align-items: center !important;
  }

  @include selector-placeholder(".u-flexBottom") {
    align-items: flex-end !important;
  }

  @media (min-width: $global-viewport-small) {
    .u-flexItemNone\@small {
      flex: none;
    }

    .u-flexItemAuto\@small {
      flex: auto;
    }

    .u-flexItem1\@small {
      flex: 1 !important;
    }

    .u-flexBetween\@small {
      justify-content: space-between !important;
    }

    .u-flexAround\@small {
      justify-content: space-around !important;
    }

    //
    // Alignment modifiers
    //

    .u-flexStart\@small {
      justify-content: flex-start !important;
    }

    .u-flexCenter\@small {
      justify-content: center !important;
    }

    .u-flexEnd\@small {
      justify-content: flex-end !important;
    }

    .u-flexTop\@small {
      align-items: flex-start !important;
    }

    .u-flexMiddle\@small {
      align-items: center !important;
    }

    .u-flexBottom\@small {
      align-items: flex-end !important;
    }
  }

  @media (min-width: $global-viewport-medium) {
    .u-flexItemNone\@medium {
      flex: none;
    }

    .u-flexItemAuto\@medium {
      flex: auto;
    }

    .u-flexItem1\@medium {
      flex: 1 !important;
    }

    .u-flexBetween\@medium {
      justify-content: space-between !important;
    }

    .u-flexAround\@medium {
      justify-content: space-around !important;
    }

    //
    // Alignment modifiers
    //

    .u-flexStart\@medium {
      justify-content: flex-start !important;
    }

    .u-flexCenter\@medium {
      justify-content: center !important;
    }

    .u-flexEnd\@medium {
      justify-content: flex-end !important;
    }

    .u-flexTop\@medium {
      align-items: flex-start !important;
    }

    .u-flexMiddle\@medium {
      align-items: center !important;
    }

    .u-flexBottom\@medium {
      align-items: flex-end !important;
    }
  }

  @media (min-width: $global-viewport-large) {
    .u-flexItemNone\@large {
      flex: none;
    }

    .u-flexItemAuto\@large {
      flex: auto;
    }

    .u-flexItem1\@large {
      flex: 1 !important;
    }

    .u-flexBetween\@large {
      justify-content: space-between !important;
    }

    .u-flexAround\@large {
      justify-content: space-around !important;
    }

    //
    // Alignment modifiers
    //

    .u-flexStart\@large {
      justify-content: flex-start !important;
    }

    .u-flexCenter\@large {
      justify-content: center !important;
    }

    .u-flexEnd\@large {
      justify-content: flex-end !important;
    }

    .u-flexTop\@large {
      align-items: flex-start !important;
    }

    .u-flexMiddle\@large {
      align-items: center !important;
    }

    .u-flexBottom\@large {
      align-items: flex-end !important;
    }
  }

  @if (mixin-exists(hook-utility-flex-misc)) {
    @include hook-utility-flex-misc();
  }
}
