//
// Component
//

@mixin list_circles(
  $fill: $global-primary,
  $hover-fill: false,
  $line-height: $global-line-height-computed
) {
  $list-circle-size: 8px;

  display: block;
  position: relative;
  padding-left: (
    ($global-whitespace-small + $global-whitespace-xsmall) + $list-circle-size
  );

  &::before {
    content: '';
    position: absolute;
    top: (($line-height - $list-circle-size) / 2);
    left: 0;
    display: inline-block;
    size: $list-circle-size;
    border-radius: 50%;
    border: 1px solid $fill;
  }

  @if $hover-fill == true {
    &:hover,
    &:focus {
      &::before {
        background: tint($fill, 92.5%);
      }
    }
  }
}

@mixin list() {
  @include selector-placeholder('.u-list') {
    list-style: none;
    padding-left: 0;
  }

  @include selector-placeholder('.u-list--space') {
    > * {
      + * {
        margin-top: $global-whitespace-regular;
      }
    }
  }

  @include selector-placeholder('.u-list--border') {
    > * {
      padding-top: $global-whitespace-large;
      padding-bottom: $global-whitespace-large;

      + * {
        margin-top: 0;
        border-top: 1px solid $global-border;
      }
    }
  }

  @include selector-placeholder('.u-list--circles') {
    > li {
      @include list_circles();
    }
  }

  @include selector-placeholder('.u-list--number') {
    counter-reset: list-counter;

    > li {
      list-style: none;

      &::before {
        content: counter(list-counter, decimal);
        counter-increment: list-counter;
        margin-right: $global-whitespace-small;
        font-weight: $global-font-weight-bold;
        color: $global-primary;
      }
    }
  }

  @if (mixin-exists(hook-utility-list)) {
    @include hook-utility-list();
  }
}
