//
// Component
//

@mixin text() {
  @include selector-placeholder('.u-textXsmall') {
    font-size: $global-font-size-xsmall !important;
  }

  @include selector-placeholder('.u-textSmall') {
    font-size: $global-font-size-small !important;
  }

  @include selector-placeholder('.u-textRegular') {
    font-size: $global-font-size !important;
  }

  @include selector-placeholder('.u-textMedium') {
    font-size: $global-font-size-medium !important;
  }

  @include selector-placeholder('.u-textLarge') {
    font-size: $global-font-size-large !important;
  }

  @include selector-placeholder('.u-textXlarge') {
    font-size: $global-font-size-xlarge !important;
  }

  @include selector-placeholder('.u-textHeading') {
    font-family: $base-heading-font-family !important;
    font-weight: $global-font-weight-bold !important;
    text-transform: $base-heading-text-transform !important;
    letter-spacing: $base-heading-letter-spacing !important;
    line-height: $base-heading-line-height !important;
  }

  @include selector-placeholder('.u-textFluid--h1-h2') {
    @include fluid-type($base-h2-font-size, $base-h1-font-size);
  }

  @include selector-placeholder('.u-textFluid--h2-h3') {
    @include fluid-type($base-h3-font-size, $base-h2-font-size);
  }

  @include selector-placeholder('.u-textFluid--h3-h4') {
    @include fluid-type($base-h4-font-size, $base-h3-font-size);
  }

  @include selector-placeholder('.u-textFluid--medium') {
    @include fluid-type($global-font-size, $global-font-size-medium);
  }

  @include selector-placeholder('.u-textFluid--large') {
    @include fluid-type($global-font-size, $global-font-size-large);
  }

  @include selector-placeholder('.u-textFluid--xlarge') {
    @include fluid-type($global-font-size-large, $global-font-size-xlarge);
  }

  @include selector-placeholder('.u-textNormal') {
    font-weight: $global-font-weight !important;
  }

  @include selector-placeholder('.u-textMediumWeight') {
    font-weight: $global-font-weight-medium !important;
  }

  @include selector-placeholder('.u-textItalic') {
    font-style: italic !important;
  }

  @include selector-placeholder('.u-textBold') {
    font-weight: $global-font-weight-bold !important;
  }

  @include selector-placeholder('.u-textDefault') {
    color: $global-font-color !important;
  }

  @include selector-placeholder('.u-textHDefault') {
    color: $global-heading-color !important;
  }

  @include selector-placeholder('.u-textPrimary') {
    color: $global-primary !important;
  }

  @include selector-placeholder('.u-textTeal') {
    color: $GREMLIN_teal;
  }

  @include selector-placeholder('.u-textDanger') {
    color: $global-danger !important;
  }

  @include selector-placeholder('.u-textContrast') {
    color: $global-contrast !important;
  }

  @include selector-placeholder('.u-textMuted') {
    color: $global-muted !important;
  }

  @include selector-placeholder('.u-textUnderline') {
    text-decoration: underline !important;
    text-decoration-skip: ink;
  }

  // Prevent text from wrapping onto multiple lines, and truncate with an ellipsis
  @include selector-placeholder('.u-textTruncate') {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // Break strings if their length exceeds the width of their container
  @include selector-placeholder('.u-textBreak') {
    hyphens: auto;
    word-wrap: break-word;
  }

  // Prevents text from wrapping into multiple lines
  @include selector-placeholder('.u-textNoBreak') {
    white-space: nowrap !important;
  }

  @include selector-placeholder('.u-textUppercase') {
    text-transform: uppercase !important;
  }

  // Overrides line-height for sub-text on wrapping lines
  @include selector-placeholder('.u-textSub') {
    line-height: $global-line-height-small !important;
  }

  @include selector-placeholder('.u-textLeft') {
    text-align: left !important;
  }

  @include selector-placeholder('.u-textCenter') {
    text-align: center !important;
  }

  @include selector-placeholder('.u-textRight') {
    text-align: right !important;
  }

  @media (min-width: $global-viewport-small) {
    .u-textLeft\@small {
      text-align: left !important;
    }

    .u-textCenter\@small {
      text-align: center !important;
    }

    .u-textRight\@small {
      text-align: right !important;
    }
  }

  @media (min-width: $global-viewport-medium) {
    .u-textLeft\@medium {
      text-align: left !important;
    }

    .u-textCenter\@medium {
      text-align: center !important;
    }

    .u-textRight\@medium {
      text-align: right !important;
    }
  }

  @media (min-width: $global-viewport-large) {
    .u-textLeft\@large {
      text-align: left !important;
    }

    .u-textCenter\@large {
      text-align: center !important;
    }

    .u-textRight\@large {
      text-align: right !important;
    }
  }

  @if (mixin-exists(hook-utility-text)) { @include hook-utility-text(); }

  @include selector-placeholder('.u-link') {
    color: $global-primary !important;

    &:hover,
    &:focus,
    &:active {
      color: $global-primary-hover !important;
    }
  }

  @include selector-placeholder('.u-linkDefault') {
    color: $global-font-color !important;

    &:hover,
    &:focus,
    &:active {
      color: $global-font-color !important;
    }
  }

  @include selector-placeholder('.u-linkContrast') {
    @include contrast-link-styles();
  }

  @include selector-placeholder('.u-linkMuted') {
    color: $global-muted !important;

    &:hover,
    &:focus,
    &:active {
      color: darken($global-muted, 10) !important;
    }
  }

  @include selector-placeholder('.u-linkHeading') {
    color: $global-heading-color !important;

    &:hover,
    &:focus,
    &:active {
      color: darken($global-heading-color, 5) !important;
    }
  }

  @include selector-placeholder('.u-linkUnderline') {
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline !important;
      text-decoration-skip: ink;
    }
  }

  @if (mixin-exists(hook-utility-link)) { @include hook-utility-link(); }
}
