//
// Component
//

@mixin visibility() {
  // Remove from the flow and screen readers on any device
  .u-hidden,
  .is-hidden {
    display: none !important;
    visibility: hidden !important;
  }

  //
  // Visibility at breakpoints
  //

  @each $size, $breakpoint in $global-queries {
    .u-hiddenUp#{$breakpoint-delimiter}#{$size} {
      @media (min-width: $breakpoint) {
        display: none !important;
        visibility: hidden !important;
      }
    }
  }

  @each $size, $breakpoint in $global-queries-max {
    .u-hiddenDown#{$breakpoint-delimiter}#{$size} {
      @media (max-width: $breakpoint) {
        display: none !important;
        visibility: hidden !important;
      }
    }
  }

  // It's hidden, but still impacts layouts
  .u-invisible {
    visibility: hidden !important;
  }

  // It's hidden, and does not impact layout
  .u-srOnly {
    @include u-srOnly();
  }
}
