//
// Component
//

.docs__box {
  border: 1px solid $global-border;
  border-radius: $global-border-radius;
  box-shadow: $global-box-shadow;
  padding: $global-whitespace-medium;
}

.docs__box--fill {
  padding: $global-whitespace-medium;
  background: $global-primary;
  border-radius: $global-border-radius;
  color: $global-contrast;
  font-family: $base-code-font-family;
}

//
// Icons
//

.docs__iconAllExample {
  display: block;
  margin: 0 auto $global-whitespace-small auto;
}

// Override for blockquote styles
blockquote {
  @include trimChildren();

  @extend %alert;
  @extend %alert--warning;

  font-style: normal;
  flex-direction: column;

  > p:first-of-type:not(:only-child) {
    @extend %u-textHeading;
    @extend %u-textFluid--xlarge;

    margin-bottom: 0;
  }
}
