//
// Variables
//

$header-mobile-nav-width: 30px;

//
// Component
//

.docs__wrapper {
  margin: #{$global-whitespace-regular} 0;

  @media (min-width: $global-viewport-medium) {
    display: flex;
    margin: $global-whitespace-large 0;
  }
}

.docs__sidebar {
  @media (min-width: $global-viewport-medium) {
    display: block;
    flex: 0 0 200px;
    max-width: 200px;
  }

  a {
    color: $global-muted;

    &:hover,
    &:focus {
      color: $global-font-color;
    }

    &.is-active {
      @include text__underline-styles();

      color: $global-font-color;
    }
  }
}

.docs__sidebar-topWrapper {
  display: flex;
  align-items: center;
  margin-bottom: $global-whitespace-large;

  > *:last-child {
    margin-left: auto;
  }
}

.docs__sidebar-mobileToggle {
  position: relative;
  width: $header-mobile-nav-width;
  height: ($header-mobile-nav-width / 2);
  vertical-align: text-bottom;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    height: 2px;
    left: 0;
    width: 100%;
    background: $global-font-color;
    display: block;
    position: absolute;
    transition: 0.25s transform easeOutBack;
    transform-origin: center center;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  .is-open & {
    &::before {
      transform: translateY($header-mobile-nav-width / 4.25) rotate(45deg);
    }

    &::after {
      transform: translateY(-$header-mobile-nav-width / 5) rotate(-45deg);
    }
  }
}

.docs__sidebar-listWrapper {
  @media (max-width: $global-viewport-small-max) {
    display: none;

    .is-open & {
      display: block;
    }
  }
}

.docs__mascot {
  display: inline-block;

  img {
    width: 100px;
  }
}

.docs__content {
  @media (min-width: $global-viewport-medium) {
    padding-left: $global-whitespace-regular;
    flex: 0 0 100%;
    max-width: calc(100% - 250px);
  }
}

.docs__box {
  border: 1px solid $global-border;
  border-radius: $global-border-radius;
  box-shadow: $global-box-shadow;
  padding: $global-whitespace-medium;
}

.docs__box--fill {
  padding: $global-whitespace-medium;
  background: $global-primary;
  border-radius: $global-border-radius;
  color: $global-contrast;
  font-family: $base-code-font-family;
}

//
// Icons
//

.docs__iconAllExample {
  display: block;
  margin: 0 auto $global-whitespace-small auto;
}

// Override for blockquote styles
blockquote {
  @include trimChildren();

  @extend .alert;
  @extend .alert--warning;

  font-style: normal;
  flex-direction: column;

  > p:first-of-type:not(:only-child) {
    @extend .u-textHeading;
    @extend .u-textFluid--xlarge;

    margin-bottom: 0;
  }
}

//
// React Live
//

// 1. Override default style to <pre> since it butts-up against preview
.react-live {
  pre {
    // 1
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .prism-code + .react-live-preview {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.react-live-preview {
  border-radius: $global-border-radius;
  border: 1px solid $global-border;
  padding: $global-whitespace-large;
  box-shadow: $global-box-shadow;
}

.react-live-error {
  @extend .alert;
  @extend .alert--danger;

  font-family: $base-code-font-family;
}
