//
// Component
//

$whitespace-sizes: (
  xsmall: $global-whitespace-xsmall,
  small: $global-whitespace-small,
  regular: $global-whitespace-regular,
  medium: $global-whitespace-medium,
  large: $global-whitespace-large,
  xlarge: $global-whitespace-xlarge,
  remove: 0
) !default;

@mixin whitespace() {
  @each $name, $size in $whitespace-sizes {
    $selector: '--#{$name}';

    @if $name != remove {
      .u-ma#{$selector} {
        margin: $size !important;
      }

      .u-mh#{$selector} {
        margin: 0 $size !important;
      }

      .u-mv#{$selector} {
        margin: $size 0 !important;
      }

      .u-mt#{$selector} {
        margin-top: $size !important;
      }

      .u-mr#{$selector} {
        margin-right: $size !important;
      }

      .u-mb#{$selector} {
        margin-bottom: $size !important;
      }

      .u-ml#{$selector} {
        margin-left: $size !important;
      }

      .u-pa#{$selector} {
        padding: $size !important;
      }

      .u-ph#{$selector} {
        padding: 0 $size !important;
      }

      .u-pv#{$selector} {
        padding: $size 0 !important;
      }

      .u-pt#{$selector} {
        padding-top: $size !important;
      }

      .u-pr#{$selector} {
        padding-right: $size !important;
      }

      .u-pb#{$selector} {
        padding-bottom: $size !important;
      }

      .u-pl#{$selector} {
        padding-left: $size !important;
      }
    }

    @else {
      .u-ma--remove {
        margin: 0 !important;
      }

      .u-mh--remove {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      .u-mv--remove {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      .u-mt--remove {
        margin-top: 0 !important;
      }

      .u-mr--remove {
        margin-right: 0 !important;
      }

      .u-mb--remove {
        margin-bottom: 0 !important;
      }

      .u-ml--remove {
        margin-left: 0 !important;
      }

      .u-pa--remove {
        padding: 0 !important;
      }

      .u-pv--remove {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .u-pt--remove {
        padding-top: 0 !important;
      }

      .u-pr--remove {
        padding-right: 0 !important;
      }

      .u-pb--remove {
        padding-bottom: 0 !important;
      }

      .u-pl--remove {
        padding-left: 0 !important;
      }
    }
  }
}
