//
// Variables
//

$components: (
  'alert',
  'avatar',
  'badge',
  'background',
  'border',
  'button',
  'choices',
  'close',
  'container',
  'contrast',
  'flex',
  'form',
  'gradient',
  'grid',
  'block-grid',
  'icon',
  'iframe',
  'inline',
  'list',
  'loader',
  'table',
  'text',
  'misc-utility',
  'modal',
  'pagination',
  'prism',
  'reveal',
  'section',
  'social-icon',
  'subnav',
  'toggle',
  'tooltip',
  'visibility',
  'whitespace'
) !default;
