//
// Variables
//

$toggle-height: 24px !default;
$toggle-width: ($toggle-height * 1.75) !default;
$toggle-transition: all 0.25s easeInOutCubic !default;
$toggle-background: lighten($global-dark, 60) !default;
$toggle-background-active: $global-primary !default;
$toggle-button-size: ($toggle-height - 6) !default;
$toggle-button-background: linear-gradient(to bottom right, $global-background, darken($global-background, 7.5));
$toggle-button-offset: $global-whitespace-xsmall !default;
$toggle-text-offset: $global-whitespace-small !default;
$toggle-font-size: $global-font-size-small !default;
$toggle-font-weight: $global-font-weight !default;

$toggle-contrast-enable: true !default;

//
// Component
//

@mixin toggle() {
  .toggle {
    display: inline-block;
    vertical-align: top;

    label {
      position: relative;
      display: block;
      height: $toggle-height;
      width: $toggle-width;
      border-radius: ($toggle-height / 2);
      background: $toggle-background;
      user-select: none;
      cursor: pointer;
      transition: $toggle-transition;

      &::after {
        content: '';
        position: absolute;
        left: $toggle-button-offset;
        background: $toggle-button-background;
        border-radius: 50%;
        size: $toggle-button-size;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        transition: $toggle-transition;
      }

      @if $global-contrast-enable and $toggle-contrast-enable {
        .u-contrast & {
          background: transparent;
          border: 1px solid $global-contrast;
        }
      }
    }

    input {
      @include u-srOnly();

      &:checked {
        + label {
          background: $toggle-background-active;

          &::after {
            left: ($toggle-width - $toggle-button-size - $toggle-button-offset);

            // Offset for contrast border
            .u-contrast & {
              left: ($toggle-width - $toggle-button-size - $toggle-button-offset - 2px);
            }
          }
        }
      }

      &[disabled] {
        + label {
          cursor: not-allowed;
          pointer-events: none;
          opacity: $global-disabled-opacity;
        }
      }
    }
  }

  .toggle-group {
    display: flex;
    align-items: center;
    vertical-align: top;
  }

  .toggle-labelText {
    margin: 0 0 0 $global-whitespace-regular;
    font-size: $toggle-font-size;
    font-weight: $toggle-font-weight;
  }
}
