@import 'mixins';
@import 'variables';
@import 'config';
@import 'base';

//
// Components
//

@import 'alert';
@import 'avatar';
@import 'badge';
@import 'button';
@import 'choices';
@import 'close';
@import 'container';
@import 'form';
@import 'icons';
@import 'iframe';
@import 'inline';
@import 'loader';
@import 'grid';
@import 'modal';
@import 'pagination';
@import 'prism';
@import 'reveal';
@import 'section';
@import 'social-icon';
@import 'subnav';
@import 'table';
@import 'tooltip';

//
// Utilities
//

@import 'utility/background';
@import 'utility/border';
@import 'utility/contrast';
@import 'utility/flex';
@import 'utility/gradient';
@import 'utility/list';
@import 'utility/text';
@import 'utility/visibility';
@import 'utility/whitespace';
@import 'utility/misc';

// Output base component by default
@include base();

// Output remaining components
@each $component in $components {
  @if $component == 'alert' {
    @include alert();
  }

  @else if $component == 'avatar' {
    @include avatar();
  }

  @else if $component == 'background' {
    @include background();
  }

  @else if $component == 'badge' {
    @include badge();
  }

  @else if $component == 'border' {
    @include border();
  }

  @else if $component == 'button' {
    @include button();
  }

  @else if $component == 'choices' {
    @include choices();
  }

  @else if $component == 'container' {
    @include container();
  }

  @else if $component == 'close' {
    @include close();
  }

  @else if $component == 'contrast' {
    @include contrast();
  }

  @else if $component == 'flex' {
    @include flex();
  }

  @else if $component == 'form' {
    @include form();
  }

  @else if $component == 'gradient' {
    @include gradient();
  }

  @else if $component == 'grid' {
    @include grid();
  }

  @else if $component == 'block-grid' {
    @include blockGrid();
  }

  @else if $component == 'icon' {
    @include icon();
  }

  @else if $component == 'iframe' {
    @include iframe();
  }

  @else if $component == 'inline' {
    @include inline();
  }

  @else if $component == 'list' {
    @include list();
  }

  @else if $component == 'loader' {
    @include loader();
  }

  @else if $component == 'prism' {
    @include prism();
  }

  @else if $component == 'reveal' {
    @include reveal();
  }

  @else if $component == 'table' {
    @include table();
  }

  @else if $component == 'text' {
    @include text();
  }

  @else if $component == 'tooltip' {
    @include tooltip();
  }

  @else if $component == 'misc-utility' {
    @include miscUtility();
  }

  @else if $component == 'modal' {
    @include modal();
  }

  @else if $component == 'pagination' {
    @include pagination();
  }

  @else if $component == 'section' {
    @include section();
  }

  @else if $component == 'social-icon' {
    @include social-icon();
  }

  @else if $component == 'subnav' {
    @include subnav();
  }

  @else if $component == 'visibility' {
    @include visibility();
  }

  @else if $component == 'whitespace' {
    @include whitespace();
  }
}
