//
// Variables
//

$base-body-background: $global-background !default;
$base-body-font-family: Gira, 'Helvetica Neue', Arial, sans-serif !default;
$base-body-font-weight: $global-font-weight !default;
$base-body-font-size: $global-font-size !default;
$base-font-antialiasing: true !default;
$base-body-line-height: $global-line-height !default;
$base-body-color: $global-font-color !default;
$base-link-color: $global-primary !default;
$base-link-text-decoration: none !default;
$base-link-hover-color: $global-primary-hover !default;
$base-link-hover-text-decoration: none !default;
$base-code-color: $global-danger !default;
$base-code-font-size: 1em !default;
$base-code-font-family: 'Operator Mono', Consolas, monospace, serif !default;
$base-em-color: inherit !default;
$base-ins-background: #ffa !default;
$base-ins-color: inherit !default;
$base-mark-background: #ffa !default;
$base-mark-color: inherit !default;
$base-quote-font-style: italic !default;
$base-margin-vertical: $global-whitespace-regular !default;
$base-heading-line-height: $global-line-height-small !default;
$base-heading-font-family: Circular, 'Helvetica Neue', Arial, sans-serif !default !default;
$base-heading-font-weight: $global-font-weight-bold !default;
$base-heading-color: $global-heading-color !default;
$base-heading-text-transform: none !default;
$base-heading-letter-spacing: -0.025em !default;
$base-heading-margin-top: $global-whitespace-large !default;
$base-h1-font-size: 50px !default;
$base-h1-font-weight: $base-heading-font-weight !default;
$base-h1-line-height: $base-heading-line-height !default;
$base-h2-font-size: 44px !default;
$base-h2-font-weight: $base-heading-font-weight !default;
$base-h2-line-height: $base-heading-line-height !default;
$base-h3-font-size: 34px !default;
$base-h3-font-weight: $global-font-weight-bold !default;
$base-h3-line-height: $base-heading-line-height !default;
$base-h4-font-size: 28px !default;
$base-h4-font-weight: $global-font-weight-bold !default;
$base-h4-line-height: $base-heading-line-height !default;
$base-h5-font-size: $global-font-size-small !default;
$base-h5-font-weight: $global-font-weight-bold !default;
$base-h5-line-height: $base-heading-line-height !default;
$base-h5-text-transform: uppercase !default;
$base-h5-letter-spacing: 0.2em !default;
$base-list-padding-left: $global-whitespace-large !default;
$base-hr-margin-vertical: $base-margin-vertical !default;
$base-hr-border: $global-border !default;
$base-hr-border-width: 2px !default;
$base-blockquote-padding-left: $global-whitespace-regular !default;
$base-blockquote-border: $global-border !default;
$base-blockquote-border-width: 5px !default;
$base-blockquote-font-size: $global-font-size !default;
$base-blockquote-line-height: $global-line-height !default;
$base-blockquote-font-style: italic !default;
$base-pre-padding: $global-whitespace-regular !default;
$base-pre-background: $global-panel-background !default;
$base-pre-border: $global-border !default;
$base-code-border: $global-border !default;
$base-code-background: #fafafa !default;
$base-pre-color: inherit !default;
$base-pre-font-size: 1em !default;
$base-pre-line-height: $global-line-height !default;
$base-pre-font-family: $base-code-font-family !default;
$base-selection-background: $global-primary !default;
$base-selection-color: $global-background !default;

//
// Mixins
//

@mixin base-heading-styles() {
  margin: 0 0 $base-margin-vertical;
  font-family: $base-heading-font-family;
  color: $base-heading-color;
  text-transform: $base-heading-text-transform;
  letter-spacing: $base-heading-letter-spacing;

  * + & {
    margin-top: $base-heading-margin-top;
  }
}

//
// Component
//

@mixin base() {
  // 1. Normalize default `font-family` and set `font-size` to support `rem` units
  // 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
  // 3. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so we force a non-overlapping, non-auto-hiding scrollbar to counteract.
  // 4. Style
  // 5. Text rendering defaults
  // 6. border-box by default
  // 7. Change the default tap highlight to be completely transparent in iOS.
  // 8. Enable smooth scrolling for anchors (where supported)
  html {
    // 1
    font-family: $base-body-font-family;
    font-size: $base-body-font-size;
    font-weight: $base-body-font-weight;
    line-height: $base-body-line-height;
    // 2
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    // 3
    -ms-overflow-style: scrollbar;
    // 4
    background: $base-body-background;
    color: $base-body-color;
    // 5
    @if ($base-font-antialiasing) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    text-rendering: optimizeLegibility;
    // 6
    box-sizing: border-box;
    // 7
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &.is-loaded {
      // 8
      scroll-behavior: smooth;
    }

    @if (mixin-exists(hook-base-html)) {
      @include hook-base-html();
    }
  }

  // Inherit 'border-box' down to sub-components
  * {
    box-sizing: inherit;

    &::before,
    &::after {
      box-sizing: inherit;
    }
  }

  // 1. Removes default margin
  body {
    margin: 0; // 1

    @if (mixin-exists(hook-base-body)) {
      @include hook-base-body();
    }
  }

  // Suppress the focus outline on elements that cannot be accessed via keyboard.
  // This prevents an unwanted focus outline from appearing around elements that
  // might still respond to pointer events.
  //
  // Credit: https://github.com/suitcss/base
  [tabindex='-1']:focus {
    outline: none !important;
  }

  // Suppress focus outline on elements that are triggered via a mouse
  // Possible by bundling `what-input` library
  html:not([data-whatinput='keyboard']) :focus {
    outline: none;
  }

  //
  // Links
  //

  // 1. Remove gaps in links underline in iOS 8+ and Safari 8+.
  a {
    -webkit-text-decoration-skip: objects; // 1
    color: $base-link-color;
    text-decoration: $base-link-text-decoration;
    cursor: pointer;

    @if (mixin-exists(hook-base-link)) {
      @include hook-base-link();
    }

    &:hover,
    &:focus {
      color: $base-link-hover-color;
      text-decoration: $base-link-hover-text-decoration;

      @if (mixin-exists(hook-base-link-hover)) {
        @include hook-base-link-hover();
      }
    }
  }

  //
  // Text-level semantics
  //

  // 1. Add an underline text decoration in Safari, Edge and IE.
  // 2. Add `dotted` style in Safari.
  // @NOTE The shorthand declaration `underline dotted` is not supported in Safari, Edge and IE.
  abbr {
    &[title] {
      // 1
      text-decoration: underline;
      // 2
      text-decoration-style: dotted;
    }
  }

  // Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  b,
  strong {
    font-weight: $global-font-weight-bold;
  }

  // Add the correct font style in Android 4.3-.
  dfn {
    font-style: italic;
  }

  // 1. Address odd `em`-unit font size rendering in all browsers.
  // 2. Consolas has a better baseline in running text compared to `Courier`
  :not(pre) > code,
  :not(pre) > kbd,
  :not(pre) > samp {
    // 1
    font-size: $base-code-font-size;
    // 2
    font-family: $base-code-font-family;
    // 3
    color: $base-code-color;
    white-space: pre-wrap;
    padding: ($global-whitespace-xsmall / 2) $global-whitespace-xsmall;
    background: $base-code-background;

    @if (mixin-exists(hook-base-code)) {
      @include hook-base-code();
    }
  }

  // Emphasize
  em {
    color: $base-em-color;
  }

  // Insert
  ins {
    background: $base-ins-background;
    color: $base-ins-color;
    text-decoration: none;
  }

  // Mark
  // Note: Addresses styling not present in IE 8/9.
  mark {
    background: $base-mark-background;
    color: $base-mark-color;
  }

  // Quote
  q {
    font-style: $base-quote-font-style;
  }

  // Addresses inconsistent and variable font size in all browsers.
  small {
    font-size: floor((100% * $global-font-size-small / $global-font-size));
  }

  // Prevents `sub` and `sup` affecting `line-height` in all browsers.
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  //
  // Embedded Content
  //

  // Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers.
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  // 1. Add responsiveness.
  // 2. Auto-scale the height. Only needed if `height` attribute is present.
  // 3. Corrects responsive `max-width` behavior if padding and border are used.
  canvas,
  img,
  video {
    // 1
    max-width: 100%;
    // 2
    height: auto;
  }

  // Exclude SVGs for IE11 because they don't preserve their aspect ratio
  @supports (display: block) {
    svg {
      max-width: 100%;
      height: auto;
    }
  }

  // Correct overflow not hidden in IE 9/10/11.
  svg:not(:root) {
    overflow: hidden;
  }

  // Hide `alt` text for lazy load images
  // Selector for background while loading img[data-src*='.jpg'][src*='data:image'] { background: grey; }
  img:not([src]) {
    visibility: hidden;
  }

  //
  // Block elements
  //

  // Reset margin
  blockquote,
  figure {
    margin: 0;
  }

  // Margins
  p,
  ul,
  ol,
  dl,
  blockquote,
  pre,
  address,
  fieldset,
  figure {
    margin: 0 0 $base-margin-vertical;
  }

  * + p,
  * + ul,
  * + ol,
  * + dl,
  * + blockquote,
  * + pre,
  * + address,
  * + fieldset,
  * + figure {
    margin-top: $base-margin-vertical;
  }

  //
  // Headings
  //

  // Sizes
  @include selector-placeholder('h1') {
    @include base-heading-styles();

    @extend %u-textFluid--h1-h2;

    font-weight: $base-h1-font-weight;
    line-height: $base-h1-line-height;

    @if (mixin-exists(hook-base-h1)) {
      @include hook-base-h1();
    }
  }

  @include selector-placeholder('h2') {
    @include base-heading-styles();

    @extend %u-textFluid--h2-h3;

    font-weight: $base-h2-font-weight;
    line-height: $base-h2-line-height;

    @if (mixin-exists(hook-base-h2)) {
      @include hook-base-h2();
    }
  }

  @include selector-placeholder('h3') {
    @include base-heading-styles();

    @extend %u-textFluid--h3-h4;

    font-weight: $base-h3-font-weight;
    line-height: $base-h3-line-height;

    @if (mixin-exists(hook-base-h3)) {
      @include hook-base-h3();
    }
  }

  @include selector-placeholder('h4') {
    @include base-heading-styles();

    font-size: $base-h4-font-size;
    font-weight: $base-h4-font-weight;
    line-height: $base-h4-line-height;

    @if (mixin-exists(hook-base-h4)) {
      @include hook-base-h4();
    }
  }

  @include selector-placeholder('h5') {
    @include base-heading-styles();

    font-size: $base-h5-font-size;
    font-weight: $base-h5-font-weight;
    line-height: $base-h5-line-height;
    letter-spacing: $base-h5-letter-spacing;
    text-transform: $base-h5-text-transform;

    @if (mixin-exists(hook-base-h4)) {
      @include hook-base-h4();
    }
  }

  //
  // Lists
  //

  ul,
  ol {
    padding-left: $base-list-padding-left;
  }

  // Reset margin for nested lists
  ul > li > ul,
  ul > li > ol,
  ol > li > ol,
  ol > li > ul {
    margin: 0;
  }

  //
  // Description lists
  //

  dt {
    font-weight: $global-font-weight;
  }

  dd {
    margin-left: 0;
  }

  //
  // Horizontal rules
  //

  // 1. Add correct box sizing and heigh tin Firefox
  // 2. Show the overflow in Edge and IE.
  // 3. Add the correct text-align in Edge and IE.
  // 4. Style
  hr {
    // 1
    box-sizing: content-box;
    height: 0;
    // 2
    overflow: visible;
    // 3
    text-align: inherit;
    // 4
    margin: $base-hr-margin-vertical 0;
    border: 0;
    border-top: $base-hr-border-width solid $base-hr-border;

    @if (mixin-exists(hook-base-hr)) {
      @include hook-base-hr();
    }

    * + & {
      margin-top: $base-hr-margin-vertical;
    }
  }

  // Address
  address {
    font-style: normal;
  }

  // Blockquotes
  blockquote {
    padding-left: $base-blockquote-padding-left;
    border-left: $base-blockquote-border-width solid $base-blockquote-border;
    font-size: $base-blockquote-font-size;
    line-height: $base-blockquote-line-height;
    font-style: $base-blockquote-font-style;

    @if (mixin-exists(hook-base-blockquote)) {
      @include hook-base-blockquote();
    }
  }

  //
  // Preformatted text
  //

  // 1. Contain overflow in all browsers.
  pre {
    padding: $base-pre-padding;
    background: $base-pre-background;
    font: $base-pre-font-size unquote('/') $base-pre-line-height
      $base-pre-font-family;
    color: $base-pre-color;
    tab-size: 4;
    border: 1px solid $base-pre-border;
    border-radius: $global-border-radius;
    // 1
    overflow: auto;

    @if (mixin-exists(hook-base-pre)) {
      @include hook-base-pre();
    }
  }

  //
  // Selection pseudo-element
  //

  ::selection {
    background: $base-selection-background;
    color: $base-selection-color;
    text-shadow: none;
  }

  //
  // HTML5 elements
  //

  // Add the correct display in Edge, IE, and Firefox.
  // Add the correct display in IE.
  details, // 1
  main {
    // 2
    display: block;
  }

  // Add the correct display in all browsers.
  summary {
    display: list-item;
  }

  // Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  progress {
    vertical-align: baseline;
  }

  // Prevent displaying `audio` without controls in Chrome, Safari and Opera
  audio {
    &:not([controls]) {
      display: none;
      height: 0;
    }
  }

  // Add the correct display in IE.
  template {
    display: none;
  }

  // Remove border in all browsers
  iframe {
    border: 0;
  }

  //
  // Root variables
  //

  :root {
    // Whitespace
    --global-whitespace-xsmall: #{$global-whitespace-xsmall};
    --global-whitespace-small: #{$global-whitespace-small};
    --global-whitespace-regular: #{$global-whitespace-regular};
    --global-whitespace-medium: #{$global-whitespace-medium};
    --global-whitespace-large: #{$global-whitespace-large};
    --global-whitespace-xlarge: #{$global-whitespace-xlarge};
    // Breakpoints
    --global-viewport-xsmall-max: #{$global-viewport-xsmall-max};
    --global-viewport-small: #{$global-viewport-small};
    --global-viewport-small-max: #{$global-viewport-small-max};
    --global-viewport-medium: #{$global-viewport-medium};
    --global-viewport-medium-max: #{$global-viewport-medium-max};
    --global-viewport-large: #{$global-viewport-large};
    // Height
    --global-height-xsmall: #{$global-height-xsmall};
    --global-height-small: #{$global-height-small};
    --global-height: #{$global-height};
  }

  //
  // <button> reset
  //

  // 1. Remove default browser appearance for buttons.
  // 2. Remove margins.
  // 3. Remove borders for IE.
  // 4. Normalize font and color  not inherited by `button`.
  // 5. Address `overflow` in IE
  // 6. Normalize cursor style
  // 7. Normalize line-height
  // 8. Normalize text-align
  // 9. Remove inner padding and border in Firefox 4+.
  .button--reset {
    // 1
    appearance: none;
    background: none;
    // 2
    padding: 0;
    margin: 0;
    // 3
    border-width: 0;
    // 4
    font: inherit;
    text-decoration: none;
    color: inherit;
    //5
    overflow: visible;
    // 6
    cursor: pointer;
    // 7
    line-height: normal;
    // 8
    text-align: inherit;

    // 9
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  @if (mixin-exists(hook-base-misc)) {
    @include hook-base-misc();
  }
}
