//
// Variables
//

$container-max-width: 1000px !default;
$container-small-max-width: 800px !default;
$container-gutter: $global-whitespace-regular !default;

//
// Component
//

@mixin container() {
  .container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $container-gutter;

    &--small {
      max-width: $container-small-max-width;
    }

    [class^='container'] {
      padding: 0;
    }

    @if (mixin-exists(hook-container)) { @include hook-container(); }
  }
}
