//
// Variables
//

$dropdown-width: 240px !default;

$dropdown-panel-offset: $global-whitespace-regular !default;
$dropdown-panel-background: $global-panel-background;
$dropdown-panel-padding: $global-whitespace-large !default;

$dropdown-arrow-offset: $global-whitespace-small !default;

$dropdown-header-color: $global-muted !default;
$dropdown-header-font-size: $global-font-size-xsmall !default;

$dropdown-menu-link-font-size: $global-font-size-medium !default;
$dropdown-menu-link-font-family: $base-heading-font-family !default;
$dropdown-menu-link-font-weight: $global-font-weight-bold !default;
$dropdown-menu-link-padding: (
  $global-whitespace-small + $global-whitespace-xsmall
) !default;
$dropdown-menu-link-color: $global-font-color !default;
$dropdown-menu-link-color-hover: $global-font-color !default;
$dropdown-menu-link-hover-active-background: $global-panel-background-hover !default;

$dropdown-transition-time: 0.175s !default;
$dropdown-transition: $dropdown-transition-time easeOutBack !default; // Brought over from JS component so we can match CSS transitions when needed

//
// Component
//

@mixin dropdown() {
  .dropdown {
    display: inline-block;
    position: relative;

    @if (mixin-exists(hook-dropdown)) {
      @include hook-dropdown();
    }
  }

  .dropdown-panel {
    @include trimChildren();

    background: $dropdown-panel-background;
    padding: $dropdown-panel-padding;
    position: absolute;
    color: $global-font-color; // Contrast override
    top: calc(100% + #{$dropdown-panel-offset});
    width: $dropdown-width;
    max-height: 400px;
    border: 1px solid $global-border;
    border-radius: $global-border-radius;
    text-align: left;
    z-index: 10;
    opacity: 0;
    transform: translateY(-$dropdown-panel-offset) scale(0.75);
    transform-origin: left top;
    box-shadow: $global-neutral-box-shadow;
    display: none;

    @if (mixin-exists(hook-dropdown-panel)) {
      @include hook-dropdown-panel();
    }
  }

  .dropdown--center {
    .dropdown-panel {
      left: 50%;
      transform: translate(-50%, -$dropdown-panel-offset) scale(0.75);
      transform-origin: center top;
    }
  }

  .dropdown--right {
    .dropdown-panel {
      left: auto;
      right: 0;
      transform-origin: right top;
    }
  }

  .dropdown--up {
    .dropdown-panel {
      transform: translateY($dropdown-panel-offset) scale(0.75);
      transform-origin: left bottom;
      top: auto;
      bottom: calc(100% + #{$dropdown-panel-offset});
    }

    &.dropdown--center {
      .dropdown-panel {
        transform: translate(-50%, $dropdown-panel-offset) scale(0.75);
        transform-origin: center bottom;
      }
    }

    &.dropdown--right {
      .dropdown-panel {
        transform-origin: right bottom;
      }
    }
  }

  .dropdown-arrow {
    margin-left: $dropdown-arrow-offset;
    transition: transform ($dropdown-transition-time * 1.5) easeOutBack;

    .is-open & {
      transform: rotate(180deg);
    }
  }

  // 1. To override `.u-contrast` wrappers
  .dropdown-header {
    color: $dropdown-header-color !important;
    font-size: $dropdown-header-font-size;
  }

  .dropdown-menu {
    li + li {
      margin-top: $global-whitespace-xsmall;
    }

    a {
      color: $dropdown-menu-link-color;
      font-size: $dropdown-menu-link-font-size;
      font-family: $dropdown-menu-link-font-family;
      font-weight: $dropdown-menu-link-font-weight;
      display: block;
      line-height: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: $dropdown-menu-link-padding;
      border-radius: $global-border-radius;
      margin: 0 (-$dropdown-menu-link-padding);

      &:hover,
      &:active {
        color: $dropdown-menu-link-color-hover;
        background: $dropdown-menu-link-hover-active-background;
      }

      &.is-active {
        background: $dropdown-menu-link-hover-active-background;
      }
    }
  }

  @if (mixin-exists(hook-dropdown-misc)) {
    @include hook-dropdown-misc();
  }
}
