//
// Component
//

@mixin inline() {
  @include selector-placeholder('.inline') {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: (-$global-whitespace-regular) 0 0 (-$global-whitespace-regular);

    > * {
      margin-left: $global-whitespace-regular;
      margin-top: $global-whitespace-regular;
    }
  }

  @include selector-placeholder('.inline--small') {
    margin-top: (-$global-whitespace-small);
    margin-left: (-$global-whitespace-small);

    > * {
      margin-left: $global-whitespace-small;
      margin-top: $global-whitespace-small;
    }
  }

  @include selector-placeholder('.inline--medium') {
    margin-top: (-$global-whitespace-medium);
    margin-left: (-$global-whitespace-medium);

    > * {
      margin-left: $global-whitespace-medium;
      margin-top: $global-whitespace-medium;
    }
  }

  @include selector-placeholder('.inline--large') {
    margin-top: (-$global-whitespace-large);
    margin-left: (-$global-whitespace-large);

    > * {
      margin-left: $global-whitespace-large;
      margin-top: $global-whitespace-large;
    }
  }

  @include selector-placeholder('.inline--xlarge') {
    margin-top: (-$global-whitespace-xlarge);
    margin-left: (-$global-whitespace-xlarge);

    > * {
      margin-left: $global-whitespace-xlarge;
      margin-top: $global-whitespace-xlarge;
    }
  }

  @include selector-placeholder('.inline--noWrap') {
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  @if (mixin-exists(hook-inline)) { @include hook-inline(); }
}
