//
// Variables
//

$loader-size: 1em !default;

$loader-svg-animation-duration: 1.5s !default;
$loader-circle-animation-duration: 1.5s !default;

//
// Component
//

@mixin loader() {
  .loader {
    position: relative;
    width: $loader-size;
    display: inline-block;
    vertical-align: bottom;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    @if (mixin-exists(hook-loader)) { @include hook-loader(); }
  }

  .loader-svg {
    animation: loader-rotate $loader-svg-animation-duration linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @if (mixin-exists(hook-loader-circle)) { @include hook-loader-circle(); }
  }

  .loader-circle {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: loader-dash $loader-circle-animation-duration ease-in-out infinite;
    stroke-linecap: round;
    stroke: currentColor;
    fill: none;
    stroke-width: 2;

    @if (mixin-exists(hook-loader-path)) { @include hook-loader-path(); }
  }

  @keyframes loader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
}
