//
// Variables
//

$offCanvas-background: rgba(
  $global-dark-overlay,
  $global-disabled-opacity
) !default;
$offCanvas-panel-background: $global-background !default;
$offCanvas-box-shadow-left: 7.5px 0 17.5px rgba($global-dark, 0.1);
$offCanvas-box-shadow-right: -7.5px 0 17.5px rgba($global-dark, 0.1);
$offCanvas-close-transition: transform 0.25s easeInOutCubic;

$offCanvas-panel-width: 300px !default;

//
// Component
//

@mixin offCanvas() {
  // Body styles to prevent scrolling
  .has-openOffCanvas {
    height: 100%;
    overflow: hidden;
  }

  // 1. JS styles
  .offCanvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $offCanvas-background;
    z-index: 10;

    // 1.
    opacity: 0;
    display: none;
  }

  .offCanvas--right {
    .offCanvas-panel {
      box-shadow: $offCanvas-box-shadow-right;
      left: auto;
      right: 0;
      transform: translateX(100%);
    }
  }

  .offCanvas-panel {
    @include trimChildren();

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $offCanvas-panel-background;
    padding: $global-whitespace-large;
    box-shadow: $offCanvas-box-shadow-left;
    z-index: 5;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    // GSAP
    transform: translateX(-100%);

    @media (min-width: $global-viewport-small) {
      width: $offCanvas-panel-width;
    }

    @if (mixin-exists(hook-offCanvas-panel)) {
      @include hook-offCanvas-panel();
    }
  }

  .offCanvas-close {
    position: absolute;
    top: $global-whitespace-large;
    right: $global-whitespace-large;
  }

  @if (mixin-exists(hook-offCanvas-misc)) {
    @include hook-offCanvas-misc();
  }
}
