//
// Variables
//

$pagination-offset: $global-whitespace-xlarge !default;

//
// Component
//

@mixin pagination() {
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: $pagination-offset;

    @if (mixin-exists(hook-pagination)) {
      @include hook-pagination();
    }
  }

  .pagination-next {
    margin-left: $global-whitespace-small;
  }
}
