//
// Variables
//

$section-vertical-padding: $global-whitespace-xlarge !default;
$section-large-vertical-padding: ($global-whitespace-xlarge * 2) !default;
$section-slant-offset: 2.5vw !default;

//
// Component
//

@mixin section() {
  .section {
    @include trimChildren();

    padding: ($section-vertical-padding / 2) 0;

    @media (min-width: $global-viewport-medium) {
      padding: $section-vertical-padding 0;
    }

    @if (mixin-exists(hook-section)) {
      @include hook-section();
    }
  }

  .section--large {
    padding: ($section-large-vertical-padding / 2) 0;

    @media (min-width: $global-viewport-medium) {
      padding: $section-large-vertical-padding 0;
    }

    @if (mixin-exists(hook-section)) {
      @include hook-section-large();
    }
  }

  .section--slant {
    clip-path:
      polygon(
        0 0,
        100% #{$section-slant-offset},
        100% 100%,
        0 calc(100% - #{$section-slant-offset})
      );
    margin-top: -$section-slant-offset;
  }

  .section--shadow {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -$section-slant-offset;
      z-index: -1;
      border-bottom:
        ($section-slant-offset * 2.25) solid
        rgba($global-dark, 0.03);
      filter: blur(5px);
    }
  }

  .section-titleWrapper {
    @include trimChildren();

    margin-bottom: $global-whitespace-large;
    text-align: center;

    @media (min-width: $global-viewport-medium) {
      margin-bottom: $global-whitespace-xlarge;
    }
  }

  .section-titleWrapper--forceLeft\@medium {
    @media (min-width: $global-viewport-medium) {
      text-align: left;

      .section-titleSub {
        text-align: left;
      }
    }
  }

  .section-titleSub {
    @extend %u-textMuted;
    @extend %u-textMedium;

    max-width: 625px;
    margin: 0 auto;

    .u-contrast & {
      color: $global-contrast-muted !important;
    }
  }
}
