//
// Variables
//

$table-responsive-label-width: 125px !default;
$table-emphasis-background: $global-panel-background !default;

$table-contrast-enable: true !default;
$table-contrast-border: $global-contrast !default;
$table-contrast-emphasis-background: rgba($global-contrast, 0.15) !default;

//
// Component
//

@mixin table() {
  // 1. Remove spacing between table cells.
  // 2. Block element behavior
  // 3. Style
  table {
    // 1
    border-collapse: collapse;
    border-spacing: 0;
    // 2
    width: 100%;
    // 3
    margin-bottom: $global-whitespace-regular;
    caption-side: bottom;
    border: 1px solid $global-border;
    box-shadow: $global-box-shadow;
    table-layout: fixed;
    max-width: max-content;
    display: block;
    overflow-x: auto;

    @if $global-contrast-enable and $table-contrast-enable {
      .u-contrast & {
        box-shadow: none;
        border-color: $table-contrast-border;
      }
    }

    thead {
      th {
        vertical-align: bottom;
        font-weight: $global-font-weight-bold;
        background: $table-emphasis-background;
        line-height: $global-line-height-small;
        font-size: $global-font-size-small;

        @if $global-contrast-enable and $table-contrast-enable {
          .u-contrast & {
            background: $table-contrast-emphasis-background;
          }
        }
      }

      + tbody tr:first-child {
        border-top-width: 2px;
      }
    }

    tr {
      border-top: 1px solid $global-border;

      @if $global-contrast-enable and $table-contrast-enable {
        .u-contrast & {
          border-color: $table-contrast-border;
        }
      }
    }

    * {
      &:first-child {
        tr {
          &:first-child {
            border-top: 0;
          }
        }
      }
    }

    th,
    td {
      padding: ($global-whitespace-small + $global-whitespace-xsmall);

      @if $global-contrast-enable and $table-contrast-enable {
        .u-contrast & {
          border-color: $table-contrast-border;
        }
      }

      &:last-child {
        border-right: 0;
      }
    }

    th {
      text-align: left;
    }

    td {
      vertical-align: top;
    }

    caption,
    tfoot {
      padding: $global-whitespace-small;
      font-size: $global-font-size-small;
      color: $global-muted;

      @if $global-contrast-enable and $table-contrast-enable {
        .u-contrast & {
          color: $global-contrast-muted;
        }
      }
    }

    @if (mixin-exists(hook-table)) {
      @include hook-table();
    }
  }

  // Add margin if adjacent element
  * + table {
    margin-top: $global-whitespace-regular;
  }

  .table--hover {
    tr:hover {
      background: $table-emphasis-background;

      @if $global-contrast-enable and $table-contrast-enable {
        .u-contrast & {
          background: $table-contrast-emphasis-background;
        }
      }
    }
  }

  .table--clean {
    border: 0;
    box-shadow: none;
  }

  // Responsive table
  .table--responsive {
    @media (max-width: $global-viewport-small-max) {
      td {
        display: flex;
        border-right: 0;

        &::before {
          content: attr(data-th) ': ';
          flex: none;
          width: $table-responsive-label-width;
          margin-right: $global-whitespace-small;
          font-weight: $global-font-weight-bold;
        }
      }

      thead {
        display: none;

        + tbody {
          tr:first-child {
            border-top-width: 1px;
          }
        }
      }
    }
  }
}
