//
// Component
//

@mixin tabs() {
  .tabs {
    & + & {
      margin-top: $global-whitespace-large;
    }
  }

  .tabs-list {
    display: flex;
    margin: 0 0 $global-whitespace-regular 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid $global-border;
    position: relative;
    top: 1px;
    z-index: 2;
    overflow-x: auto;

    > li {
      @extend %u-textHeading;

      display: inline-flex;
      position: relative;
      font-size: $global-font-size;
      line-height: $global-height !important;
      height: $global-height;
      color: $global-font-color;
      cursor: pointer;
      transition: color 0.25s easeInOutCubic;
      white-space: nowrap;

      &.is-disabled {
        cursor: not-allowed;
        opacity: $global-disabled-opacity;
      }

      &.is-active {
        cursor: default;
        color: $global-primary;

        &::before {
          content: '';
          height: 4px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: $global-primary;
          width: 100%;
        }
      }

      &:not(.is-disabled) {
        &:hover,
        &:focus {
          color: $global-primary;
        }
      }

      + li {
        margin-left: $global-whitespace-medium;
      }
    }
  }

  .tabs-panel {
    @include trimChildren();

    &:not(.is-active) {
      display: none;
    }
  }

  @if (mixin-exists(hook-tabs-misc)) {
    @include hook-tabs-misc();
  }
}
