//
// Variables
//

$tooltip-arrow-size: 10px !default;
$tooltip-radius: 2px !default;
$tooltip-transition: 0.175s easeInOutBack !default; // Brought over from JS component so we can match CSS transitions when needed

//
// Component
//

@mixin tooltip() {
  .tooltip {
    position: absolute;
    z-index: 10;
    display: block;
    font-size: $global-font-size-small;
    opacity: 0;
    padding: ($tooltip-arrow-size + 1);

    &-inner {
      color: $global-font-color;
      max-width: 250px;
      padding: $global-whitespace-small;
      background: $global-background;
      border: 1px solid $global-border;
      border-radius: $tooltip-radius;
      word-wrap: break-word;
      text-align: center;
      position: relative;
      box-shadow: $global-box-shadow;

      &::after {
        content: "";
        size: $tooltip-arrow-size;
        position: absolute;
        background: $global-background;
        border: 1px solid $global-border;
        border-bottom-left-radius: $tooltip-radius;
        border-right: 0;
        border-top: 0;
      }

      @if (mixin-exists(hook-tooltip-inner)) {
        @include hook-tooltip-inner();
      }
    }

    &--top {
      .tooltip-inner {
        // 1. Quirky calculation bug when `rotate()` is used
        &::after {
          left: 50%;
          bottom: ((-$tooltip-arrow-size / 2) - 1); // 1
          transform: translateX(-50%) rotate(-45deg);
        }
      }
    }

    &--right {
      .tooltip-inner {
        // 1. Quirky calculation bug when `rotate()` is used
        &::after {
          left: ((-$tooltip-arrow-size / 2) - 1); // 1
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    &--bottom {
      .tooltip-inner {
        // 1. Quirky calculation bug when `rotate()` is used
        &::after {
          top: ((-$tooltip-arrow-size / 2) - 1);
          left: 50%;
          transform: translateX(-50%) rotate(135deg);
          border-bottom-left-radius: $tooltip-radius;
        }
      }
    }

    &--left {
      .tooltip-inner {
        // 1. Quirky calculation bug when `rotate()` is used
        &::after {
          right: ((-$tooltip-arrow-size / 2) - 1); // 1
          top: 50%;
          transform: translateY(-50%) rotate(-135deg);
        }
      }
    }

    @if (mixin-exists(hook-tooltip)) {
      @include hook-tooltip();
    }
  }
}
