//
// Brand
//

$GREMLIN_green: #23c386;
$GREMLIN_green__filter: brightness(0) saturate(100%) invert(60%) sepia(71%)
  saturate(494%) hue-rotate(105deg) brightness(92%) contrast(80%);
$GREMLIN_teal: #009580;
$GREMLIN_teal__filter: brightness(0) saturate(100%) brightness(0) saturate(100%)
  invert(35%) sepia(90%) saturate(1053%) hue-rotate(140deg) brightness(94%)
  contrast(104%);
$GREMLIN_blue: #2265c0;
$GREMLIN_blue__filter: brightness(0) saturate(100%) invert(33%) sepia(28%)
  saturate(2523%) hue-rotate(188deg) brightness(97%) contrast(97%);
$GREMLIN_darkblue: #00458a;
$GREMLIN_darkblue__filter: brightness(0) saturate(100%) invert(19%) sepia(93%)
  saturate(1468%) hue-rotate(190deg) brightness(90%) contrast(108%);
$GREMLIN_darkerblue: #0e0d22;
$GREMLIN_darkerblue__filter: brightness(0) saturate(100%) invert(6%) sepia(35%)
  saturate(1127%) hue-rotate(204deg) brightness(95%) contrast(102%);
$GREMLIN_darkestblue: #050d16;
$GREMLIN_darkestblue__filter: brightness(0) saturate(100%) invert(5%) sepia(22%)
  saturate(1415%) hue-rotate(172deg) brightness(93%) contrast(101%);
$GREMLIN_purple: #6544ae;
$GREMLIN_purple__filter: brightness(0) saturate(100%) invert(32%) sepia(16%)
  saturate(3361%) hue-rotate(225deg) brightness(94%) contrast(96%);
$GREMLIN_gray: #606672;
$GREMLIN_gray__filter: brightness(0) saturate(100%) invert(40%) sepia(10%)
  saturate(514%) hue-rotate(182deg) brightness(94%) contrast(88%);
$GREMLIN_bluegray: #8899ae;
$GREMLIN_bluegray__filter: brightness(0) saturate(100%) invert(71%) sepia(8%)
  saturate(846%) hue-rotate(173deg) brightness(85%) contrast(82%);
$GREMLIN_lighterBlack: #4d525b;
$GREMLIN_lighterBlack__filter: brightness(0) saturate(100%) invert(30%)
  sepia(10%) saturate(521%) hue-rotate(180deg) brightness(98%) contrast(90%);
$GREMLIN_lightBlack: #35383f;
$GREMLIN_lightBlack__filter: brightness(0) saturate(100%) invert(18%) sepia(17%)
  saturate(378%) hue-rotate(184deg) brightness(96%) contrast(88%);
$GREMLIN_black: #131313;
$GREMLIN_black__filter: brightness(0) saturate(100%) invert(0%) sepia(8%)
  saturate(7414%) hue-rotate(107deg) brightness(89%) contrast(85%);
$GREMLIN_red: #d00252;
$GREMLIN_red__filter: brightness(0) saturate(100%) invert(13%) sepia(99%)
  saturate(4118%) hue-rotate(327deg) brightness(85%) contrast(106%);
$GREMLIN_yellow: #ffcf23;
$GREMLIN_yellow__filter: brightness(0) saturate(100%) invert(79%) sepia(82%)
  saturate(599%) hue-rotate(335deg) brightness(103%) contrast(102%);

//
// Colors
//

$global-background: #fff !default;
$global-primary: $GREMLIN_green !default;
$global-primary-hover: shade($global-primary, 10) !default;
$global-primary-light: tint($global-primary, 90%) !default;
$global-warning: $GREMLIN_yellow !default;
$global-warning-light: tint($global-warning, 90%) !default;
$global-danger: $GREMLIN_red !default;
$global-danger-light: tint($global-danger, 92.5%) !default;
$global-danger-hover: shade($global-danger, 10) !default;

$global-dark: $GREMLIN_black !default;
$global-dark-overlay: rgba($global-dark, 0.85) !default;

$global-box-shadow-offset: 0 1px 5px -2px !default;
$global-box-shadow-color: rgba($global-dark, 0.18) !default;
$global-box-shadow-color-light: rgba($global-dark, 0.14) !default;
$global-box-shadow: $global-box-shadow-offset $global-box-shadow-color !default;
$global-box-shadow-inset: inset 0 1px 4px $global-box-shadow-color-light !default;

$global-big-media-shadow: 0 15px 35px rgba($global-dark, 0.1),
  0 5px 15px rgba($global-dark, 0.07) !default;
$global-small-media-shadow: 0 7.5px 17.5px rgba($global-dark, 0.1),
  0 2.5px 7.5px rgba($global-dark, 0.07) !default;
$global-neutral-box-shadow: 0 5px 15px rgba($global-dark, 0.1);

$global-panel-background: #f8f8f8 !default;
$global-panel-background-hover: shade($global-panel-background, 3.5%) !default;
$global-panel-background-light: tint($global-panel-background, 5%);

$global-disabled-opacity: 0.5 !default;

//
// Borders
//

$global-border: #e6e6e6 !default;
$global-border-radius: 4px !default;
$global-border-radius-large: 8px !default;

//
// Typography
//

$global-font-color: #333 !default;
$global-muted: rgba($global-font-color, 0.6) !default;
$global-heading-color: #222 !default;
$global-font-size: 16px !default;
$global-font-size-xsmall: 12px !default;
$global-font-size-small: 14px !default;
$global-font-size-medium: 18px !default;
$global-font-size-large: 20px !default;
$global-font-size-xlarge: 26px !default;
$global-font-weight: 300 !default;
$global-font-weight-medium: 500 !default;
$global-font-weight-bold: 600 !default;
$global-line-height: 1.65 !default;
$global-line-height-computed: $global-font-size * $global-line-height !default;
$global-line-height-small: 1.25 !default;

//
// Contrast
//

$global-contrast: #fff !default;
$global-contrast-muted: rgba($global-contrast, 0.8) !default;
$global-contrast-link: $global-contrast !default;
$global-contrast-border: rgba($global-contrast, 0.7) !default;
$global-contrast-enable: true !default;

//
// Spacing
//

$global-whitespace-xsmall: 4px !default;
$global-whitespace-small: 8px !default;
$global-whitespace-regular: 16px !default;
$global-whitespace-medium: 24px !default;
$global-whitespace-large: 32px !default;
$global-whitespace-xlarge: 64px !default;

$global-ui-offset: $global-whitespace-regular !default;

//
// Height
//

$global-height-large: 64px !default;
$global-height: 48px !default;
$global-height-small: 40px !default;
$global-height-xsmall: 32px !default;
$global-height-micro: 28px !default;

//
// Viewport Sizes
//

$global-width-small: 480 !default;
$global-width-medium: 768 !default;
$global-width-large: 960 !default;
$global-width-xlarge: 1200 !default;

$global-viewport-xsmall-max: ($global-width-small - 1px) !default;
$global-viewport-small: #{$global-width-small}px !default;
$global-viewport-small-max: ($global-width-medium - 1px) !default;
$global-viewport-medium: #{$global-width-medium}px !default;
$global-viewport-medium-max: ($global-width-large - 1px) !default;
$global-viewport-large: #{$global-width-large}px !default;
$global-viewport-xlarge: #{$global-width-xlarge}px !default;

$breakpoint-xsmall: 'xsmall' !default;
$breakpoint-small: 'small' !default;
$breakpoint-medium: 'medium' !default;
$breakpoint-large: 'large' !default;

$global-breakpoint-sizes: $breakpoint-small $breakpoint-medium $breakpoint-large !default;
$global-queries: (
  #{$breakpoint-small}: #{$global-viewport-small},
  #{$breakpoint-medium}: #{$global-viewport-medium},
  #{$breakpoint-large}: #{$global-viewport-large}
) !default;
$global-queries-max: (
  #{$breakpoint-xsmall}: $global-viewport-xsmall-max,
  #{$breakpoint-small}: #{$global-viewport-small-max},
  #{$breakpoint-medium}: #{$global-viewport-medium-max}
) !default;
