//
// Brand
//

$GREMLIN_green: #23c386;
$GREMLIN_teal: #009580;
$GREMLIN_blue: #2265c0;
$GREMLIN_darkblue: #00458a;
$GREMLIN_darkerblue: #0e0d22;
$GREMLIN_darkestblue: #050d16;
$GREMLIN_purple: #6544ae;
$GREMLIN_gray: #606672;
$GREMLIN_bluegray: #8899ae;
$GREMLIN_lighterBlack: #4d525b;
$GREMLIN_lightBlack: #35383f;
$GREMLIN_black: #131313;
$GREMLIN_red: #d00252;
$GREMLIN_yellow: #ffcf23;

//
// Colors
//

$global-background: #fff !default;
$global-primary: $GREMLIN_green !default;
$global-primary-hover: darken($global-primary, 5) !default;
$global-primary-light: tint($global-primary, 90%) !default;
$global-warning: $GREMLIN_yellow !default;
$global-warning-light: tint($global-warning, 90%) !default;
$global-danger: $GREMLIN_red !default;
$global-danger-light: tint($global-danger, 92.5%) !default;
$global-danger-hover: darken($global-danger, 5) !default;

$global-dark: $GREMLIN_black !default;
$global-dark-overlay: rgba($global-dark, 0.85) !default;

$global-box-shadow-offset: 0 0 6px -2px !default;
$global-box-shadow-color: rgba($global-dark, 0.18) !default;
$global-box-shadow-color-light: rgba($global-dark, 0.14) !default;
$global-box-shadow: $global-box-shadow-offset $global-box-shadow-color !default;
$global-box-shadow-inset: inset 0 1px 4px $global-box-shadow-color-light !default;

$global-big-media-shadow: 0 15px 35px rgba($global-dark, 0.1),
  0 5px 15px rgba($global-dark, 0.07) !default;
$global-small-media-shadow: 0 7.5px 17.5px rgba($global-dark, 0.1),
  0 2.5px 7.5px rgba($global-dark, 0.07) !default;

$global-panel-background: #fafbfc !default;
$global-panel-background-hover: darken($global-panel-background, 5) !default;

$global-disabled-opacity: 0.5 !default;

//
// Borders
//

$global-border: #eff0f1 !default;
$global-border-radius: 4px !default;
$global-border-radius-large: 8px !default;

//
// Typography
//

$global-font-color: #333 !default;
$global-muted: rgba($global-font-color, 0.6) !default;
$global-heading-color: #222 !default;
$global-font-size: 16px !default;
$global-font-size-xsmall: 12px !default;
$global-font-size-small: 14px !default;
$global-font-size-medium: 18px !default;
$global-font-size-large: 20px !default;
$global-font-size-xlarge: 26px !default;
$global-font-weight: 300 !default;
$global-font-weight-medium: 500 !default;
$global-font-weight-bold: 600 !default;
$global-line-height: 1.65 !default;
$global-line-height-computed: $global-font-size * $global-line-height !default;
$global-line-height-small: 1.25 !default;

//
// Contrast
//

$global-contrast: #fff !default;
$global-contrast-muted: rgba($global-contrast, 0.8) !default;
$global-contrast-link: $global-contrast !default;
$global-contrast-border: rgba($global-contrast, 0.7) !default;
$global-contrast-enable: true !default;

//
// Spacing
//

$global-whitespace-xsmall: 4px !default;
$global-whitespace-small: 8px !default;
$global-whitespace-regular: 16px !default;
$global-whitespace-medium: 24px !default;
$global-whitespace-large: 32px !default;
$global-whitespace-xlarge: 64px !default;

$global-ui-offset: $global-whitespace-regular !default;
$global-ui-offset-small: $global-whitespace-small + 4 !default;

//
// Height
//

$global-height-large: 64px !default;
$global-height: 48px !default;
$global-height-small: 40px !default;
$global-height-xsmall: 32px !default;

//
// Viewport Sizes
//

$global-width-small: 480 !default;
$global-width-medium: 768 !default;
$global-width-large: 960 !default;
$global-width-xlarge: 1200 !default;

$global-viewport-xsmall-max: ($global-width-small - 1px) !default;
$global-viewport-small: #{$global-width-small}px !default;
$global-viewport-small-max: ($global-width-medium - 1px) !default;
$global-viewport-medium: #{$global-width-medium}px !default;
$global-viewport-medium-max: ($global-width-large - 1px) !default;
$global-viewport-large: #{$global-width-large}px !default;
$global-viewport-xlarge: #{$global-width-xlarge}px !default;

$breakpoint-xsmall: "xsmall" !default;
$breakpoint-small: "small" !default;
$breakpoint-medium: "medium" !default;
$breakpoint-large: "large" !default;

$global-breakpoint-sizes: $breakpoint-small $breakpoint-medium $breakpoint-large !default;
$global-queries: (
  #{$breakpoint-small}: #{$global-viewport-small},
  #{$breakpoint-medium}: #{$global-viewport-medium},
  #{$breakpoint-large}: #{$global-viewport-large}
) !default;
$global-queries-max: (
  #{$breakpoint-xsmall}: $global-viewport-xsmall-max,
  #{$breakpoint-small}: #{$global-viewport-small-max},
  #{$breakpoint-medium}: #{$global-viewport-medium-max}
) !default;
