@import 'variables';

@font-face {
  font-family: Gira;
  src: local(😜), url('../fonts/gira-sans-light.woff') format('woff');
  font-weight: $global-font-weight;
  font-style: normal;
}

@font-face {
  font-family: Gira;
  src: local(😜), url('../fonts/gira-sans-regular.woff') format('woff');
  font-weight: $global-font-weight-medium;
  font-style: normal;
}

@font-face {
  font-family: Gira;
  src: local(😜), url('../fonts/gira-sans-bold.woff') format('woff');
  font-weight: $global-font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: local(😜), url('../fonts/lineto-circular-book.woff') format('woff');
  font-weight: $global-font-weight;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: local(😜), url('../fonts/lineto-circular-medium.woff') format('woff');
  font-weight: $global-font-weight-medium;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: local(😜), url('../fonts/lineto-circular-black.woff') format('woff');
  font-weight: $global-font-weight-bold;
  font-style: normal;
}
